h1 {
	text-align: center;
	}
	
a.plain-link {
	text-decoration:none;
	color: black;
}	

ul#navbar {
	list-style-type:none;
	margin:0;
	padding:0;
	color:red;
}
ul#navbar li a{
	font-size: large;
   text-decoration: none;
	}
	
div.facebook-post
{
font-size: 11px;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
border-width:2px;	
border-style:solid;
border-color: #8b9dc3
}	
