{% extends "base.html" %}
{% block scripts %}
{% endblock %}

{% block title %}<title>News Feeds</title>{% endblock %}

{% block header %}
<h1>News Feeds</h1>
{% endblock %}

{% block sidebar-insertion %}
{% endblock %}

{% block content %}
<h2>Publication Feeds</h2>
<ul>
<li><a href="{% url lab-papers-feed %}" class="plain-link"><img src="{{ STATIC_URL}}img/feed-icon-14x14.png" alt="feed-icon"> Papers from our lab.</a></li>
<li><a href="{% url interesting-papers-feed %}" class="plain-link"><img src="{{ STATIC_URL}}img/feed-icon-14x14.png" alt="feed-icon"> Papers we are interested in.</a></li>
</ul>
{% endblock %}