{% extends "base.html" %}
{% block title %}<title>{{ lab_name }} Location</title>{% endblock %}

{% block content %}
<article class="container append-2 prepend-2 span-20">
<div id="map-canvas"></div>
{% for location in lablocation_list %}
<section class="container">
<h2>{{ location }}</h2>
<p class="span-20">
{% if location.image %}
<img src="{{ location.image.url }}" alt="{{ location }}" class="span-6"/>
{% endif %}{{ location.description }}
{% if location.url %}For more information on {{ location }} click <a href="{{ location.url }}">here</a>.{% endif %}
</p>
</section>
{% endfor %}

</article>
{% endblock content %}