{% extends "base.html" %}
{% block title %}<title>{{ lab_name }} Location</title>{% endblock %}

{% block content %}
<article class="container">
<div id="map-canvas"></div>
{% for location in lablocation_list %}
<section class="container col-md-8">
<h2>{{ location }}</h2>
<p>
{% if location.image %}
<a href="{{ location.url }}"><img src="{{ location.image.url }}" alt="{{ location }}" class="col-md-3"/></a>
{% endif %}{{ location.description|safe }}
{% if location.url %}For more information on {{ location }} click <a href="{{ location.url }}">here</a>.{% endif %}
</p>
</section>
{% endfor %}

</article>
{% endblock content %}
