{% extends "base.html" %}
{% block scripts %}
<link rel="alternate" type="application/rss+xml" title="Posts" href="{% url 'posts-feed' %}">
{% endblock %}
{% block title %}<title>Bridges Lab Posts</title>{% endblock %}

{% block header %}
<h1>Bridges Lab Posts</h1>
{% endblock %}

{% block content %}

<h2>Blog Posts</h2>
<article id='blog' class="container append-2 prepend-2 span-20 large">
<ol>
{% for post in post_list %}
<li itemprop="relatedLink" itemscope itemtype="http://schema.org/BlogPosting" ><a href="{{ post.get_absolute_url }}" itemprop="url">{{ post.post_title }}</a> by  <a href="{{ post.author.get_absolute_url }}" itemprop="author">{{post.author}}</a> on <time itemprop="dateCreated"  datetime="{{ post.created | date:'c'}}">{{ post.created }}</time>.

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bridgeslab.uthsc.edu{{ post.get_absolute_url }}" data-via="bridges_lab" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</li>
{% endfor %}
</ol>
</article>

<h2>Journal Club Summaries</h2>
<article id='blog' class="container append-2 prepend-2 span-20 large">
{% for commentary in commentaries %}
<section>
{% with commentary.paper as paper %}
{% include "paper-detail-snippet.html" %}
{% endwith %}
</section>
{% endfor %}
</article>
{% endblock %}
