{% extends "base.html" %}
{% block scripts %}
<link rel="alternate" type="application/rss+xml" title="Posts" href="{% url 'posts-feed' %}">
{% endblock %}
{% block title %}<title>Bridges Lab Posts</title>{% endblock %}

{% block header %}
<h1>Bridges Lab Posts</h1>
{% endblock %}

{% block content %}

<h2>Blog Posts</h2>
<article id='blog' class="container-fluid">
<ol>
{% for post in post_list %}
<li itemprop="relatedLink" itemscope itemtype="http://schema.org/BlogPosting" ><a href="{{ post.get_absolute_url }}" itemprop="url">{{ post.post_title }}</a> by  <a href="{{ post.author.get_absolute_url }}" class="text-decoration-none text-dark" itemprop="author">{{post.author}}</a> on <time itemprop="dateCreated"  datetime="{{ post.created | date:'c'}}">{{ post.created }}</time>.
</li>
{% endfor %}
</ol>
</article>

<h2>Journal Club Summaries</h2>
<article id='blog' class="container-fluid">
{% for commentary in commentaries %}
<section>
{% with commentary.paper as paper %}
{% include "paper-detail-snippet.html" %}
{% endwith %}
</section>
{% endfor %}
</article>
{% endblock %}
