<article class="container" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="name" property="og:title" content="{{ post.post_title }}"/>
  <meta property="og:description" content="">

  <div class="row">
    <!-- Main content -->
    <section id="post" itemprop="articleBody" class="col-12 col-lg-9 order-1 order-lg-1">
      {% if post %}
      {{ post_data | markdown_md | safe }}
      {% else %}
      <p>The source file was not available.</p>
      {% endif %}
    </section>

    <!-- Aside content -->
    <aside id="header" class="col-12 col-lg-3 order-2 order-lg-2">
      <p>
        This post was initially created on
        <time class="op-published" datetime="{{ post.created|date:"c" }}" itemprop="dateCreated datePublished">{{ post.created }}</time>
        by <a href="{{ post.author.get_absolute_url }}" class="text-decoration-none text-dark" itemprop="author creator editor">{{ post.author }}</a>
        {% if post.modified %}. It was last modified on
        <time class="op-modified" datetime="{{ post.modified|date:"c" }}" itemprop="dateModified">{{ post.modified }}</time>{% endif %}.
      </p>

      {% if post.project %}
      <p id="project">This post is about the project <a href="{{ post.project.get_absolute_url }}" itemprop="about">{{ post.project }}</a>.</p>
      {% endif %}

      {% if post.paper %}
        {% with post.paper as paper %}
          {% include 'paper-detail-snippet.html' %}
        {% endwith %}
      {% endif %}
    </aside>
  </div>
</article>
