{% extends "base.html" %}
{% block scripts %}
{% endblock %}

{% block title %}<title>{{ post.post_title }}</title>{% endblock %}

{% block content %}
{% load markup_filters %}
<article class="container append-2 prepend-2 span-20">
{% if post %}
{{ post_data | markdown_md | safe }}
<p id="details">This post was initially created on {{ post.created }} by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a>{% if post.modified %}. It was last modified on {{ post.modified }}{% endif%}. It was downloaded from <a href="{{ post.markdown_url }}">here</a> and was automatically formatted.</p>

{% if post.project %}<p id="project">This post is about the project <a href="{{ post.project.get_absolute_url }}">{{ post.project }}</a>.</p>{% endif %}

{% if post.paper %}
{% with post.paper as paper %}
{% include 'paper-detail-snippet.html' %}
{% endwith %}
{% endif %}
{% else %}
<p>The source file was not available.</p>
{% endif %}

<section id="license">
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">{{ post.post_title }}</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ post.get_absolute_url }}" property="cc:attributionName" rel="cc:attributionURL">{{ post.author }}</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="SOURCE URL" rel="dct:source">{{ post.markdown_url }}</a>.
</section>

<section id="comments">
<h2>Comments</h2>
{% include 'disqus_snippet.html' %}
</section>
</article>
{% endblock %}
