{% extends "base.html" %}
{% block scripts %}
<link rel="alternate" type="application/rss+xml" title="{{username}} Wikipedia Edits" href="http://en.wikipedia.org/w/api.php?action=feedcontributions&user={{username}}" />
{% endblock %}

{% block title %}<title>Wikipedia Edits for {{ username }}</title>{% endblock %}

{% block header %}
<h1>Wikipedia Edits for {{ username }} <a href="http://en.wikipedia.org/w/api.php?action=feedcontributions&user={{username}}"><img src="{{STATIC_URL}}img/feed-icon-14x14.png" alt="RSS Icon"></a></h1>
{% endblock %}

{% block content %}
<article id="wikipedia" class="container append-6 prepend-6 span-12">
<table>
<th class="large">Page</th><th class="large">Time</th>
{% for page in pages.query.usercontribs %}
<tr>
<td><a href="http://en.wikipedia.org/wiki/{{ page.title|urlencode }}">{{ page.title }}</a></td>
<td><time datetime="{{ page.timestamp_cleaned|date:"c" }}">{{ page.timestamp_cleaned|date }}</time></td>
</tr>
{% endfor %}
</table>
</article>
{% endblock %}
