{% extends "base.html" %}
{% block scripts %}
<script type='text/javascript' src='http://cdn.altmetric.com/embed.min.js'></script>
<link rel="alternate" type="application/rss+xml" title="Commentaries" href="{% url 'commentary-feed' %}">
{% endblock %}
{% block title %}<title>Journal Club Papers</title>{% endblock %}

{% block header %}
<h1>{{lab_name }} Journal Club</h1>
{% endblock %}

{% block content %}
<article>
<section id="journal-club" class="col-md-6">
<h2>Papers Discussed in Journal Club</h2>
These are the papers that we discussed most recently in Journal club.  Click here for the complete list.
<ul>
{% for article in journal_article_list %}	
<li>{{ article.citation }} <a href="{{ article.doi_link }}">{{ article.doi }}</a></li>
{% endfor %}
</ul>	

</section>

<section id="comments" class="col-md-6">
<h2>Comments on Papers</h2>

{% for commentary in commentary_list %}
{% with commentary.paper as paper %}
<section>
<div>
{% include "paper-detail-snippet.html" %}
</div>

{% endwith %}
{% endfor %}
</section>
</article>
{% endblock %}
