{% extends "base.html" %}
{% block scripts %}
<link rel="alternate" type="application/rss+xml" title="Commentaries" href="{% url 'commentary-feed' %}">
{% if commentary.author.google_plus_user_id %}
<link href="https://plus.google.com/{{ commentary.author.}}" rel="author" >
{% endif %}
{% endblock %}

{% block title %}<title>{{ commentary }}</title>{% endblock %}

{% block header %}
<h1>{{ commentary }}</h1>
{% endblock %}


{% block sidebar-insertion %}
{% endblock %}

{% block content %}
<article class="container append-2 prepend-2 span-20" itemscope itemtype="http://schema.org/Review">
<h2><a itemprop="about" itemscope itemtype="http://schema.org/ScholarlyArticle" href="{{ commentary.paper.link }}" class="plain-link"><span itemprop="name">{{ commentary.paper }}</span><meta itemprop="url" content="{{ commentary.paper.link }}"></a></h2>
{% if commentary.author %}
<h3 id="author" itemprop="author creator editor accountablePerson" itemscope itemtype="http://schema.org/Person">Written By <a itemprop="url" href="{{ commentary.author.get_absolute_url }}" class="plain-link"><span itemprop="name">{{ commentary.author }}</span></a></h3>
{% endif %}
<section id="comments">
<p itemprop="reviewBody text">{{ commentary.comments|safe }}</p>
<p>Written on <time itemprop="dateCreated datePublished" datetime="{{ commentary.created|date:"c" }}">{{ commentary.created }}</time>, last modified on <time itemprop="dateModified" datetime="{{ commentary.modified|date:"c"}}">{{ commentary.modified }}</time>.</p>
</section>

{% if commentary.citation %}
<aside>
<h3>Original Citation</h3>
{{ commentary.citation|safe }}
</aside>
{% endif %}


<section id="comments">
<h2>Other Comments</h2>
{% include 'disqus_snippet.html' %}
</section>

</article>

{% endblock %}
