{% extends "base.html" %}
{% block scripts %}
<link rel="alternate" type="application/rss+xml" title="Commentaries" href="{% url 'commentary-feed' %}">
{% endblock %}

{% block title %}<title>{{ commentary }}</title>{% endblock %}

{% block header %}
<h1>Commentary</h1>
{% endblock %}


{% block sidebar-insertion %}
{% endblock %}

{% block content %}
<article class="container append-2 prepend-2 span-20">
<h2><a href="{{ commentary.paper.get_absolute_url }}" class="plain-link">{{ commentary.paper }}</a></h2>
<h3>Written By <a href="{{ commentary.author.get_absolute_url }}" class="plain-link">{{ commentary.author }}</a></h3>
<section>
<p>{{ commentary.comments|safe }}</p>
</section>

{% if commentary.citation %}
<aside>
<h3>Citation</h3>
{{ commentary.citation|safe }}
</aside>
{% endif %}


<section id="comments">
<h2>Other Comments</h2>
{% include 'disqus_snippet.html' %}
</section>

</article>

{% endblock %}
