{% extends "base.html" %}
{% block title %}
<title>{% if commentary %}Update {{ commentary }} {% else %}New Commentary{% endif %}</title>
{% endblock %}
{% block content %}
<h1>{% if commentary %}Update {{ commentary }} {% else %}New Commentary{% endif %}</h1>
<form method="POST" action="{% if commentary %}{% url 'commentary-edit' commentary.pk %} {% else %} {% url 'commentary-new' %}{% endif %}">{% csrf_token %}
<table>{{ form }}</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
