{% extends "base.html" %}
{% block scripts %}
<script type='text/javascript' src='http://cdn.altmetric.com/embed.min.js'></script>
<script type="text/javascript" src="http://impactstory.org/embed/v1/impactstory.js"></script>
<link rel="alternate" type="application/rss+xml" title="Papers from the {{ lab_name }}" href="{% url 'lab-papers-feed' %}"> 
<link rel="alternate" type="application/rss+xml" title="Papers of interest" href="{% url 'interesting-papers-feed' %}"> 
{% endblock %}

{% block title %}<title>{% if paper_list_type == "interesting" %}Interesting {% endif %}{% if paper_list_type == "laboratory" %}{{ lab_name }} {% endif %}Papers</title>{% endblock %}

{% block header %}
<h1>{% if paper_list_type == "interesting" %}Interesting {% endif %}{% if paper_list_type == "laboratory" %}{{ lab_name }} {% endif %}Papers </h1>
{% endblock %}

{% block content %}
<article  class="container append-2 prepend-2 span-20">
<h2>{{ publication_list.count }} papers {% if paper_list_type == "laboratory" %}<a href="{% url 'lab-papers-feed' %}"><img src="{{ STATIC_URL}}img/feed-icon-14x14.png" alt="feed-icon"></a>{% endif %}
{% if paper_list_type == "interesting" %}<a href="{% url 'interesting-papers-feed' %}><img src="{{ STATIC_URL}}img/feed-icon-14x14.png" alt="feed-icon"></a>{% endif %}</h2>
{% for paper in publication_list %}
<section>
<div class="span-14 border first">
{% include "paper-detail-snippet.html" %}
</div>
<div class="span-4 last">
{% include "impact_story_snippet_small.html" %}
</div>
</section>
{% endfor %}
</article>
{% endblock %}
