{% extends "base.html" %}
{% block scripts %}
<script type='text/javascript' src='http://cdn.altmetric.com/embed.min.js'></script>
<link rel="alternate" type="application/rss+xml" title="Papers from the {{ lab_name }}" href="{% url 'lab-papers-feed' %}"> 
<link rel="alternate" type="application/rss+xml" title="Papers of interest" href="{% url 'interesting-papers-feed' %}"> 
{% endblock %}

{% block title %}<title>{% if paper_list_type == "interesting" %}Interesting {% endif %}{% if paper_list_type == "laboratory" %}{{ lab_name }} {% endif %} Papers</title>{% endblock %}

{% block header %}
<div class='text-center'>
<h1 class="text-center display-4">{% if paper_list_type == "laboratory" %}{{ lab_name }} Papers <a href="{% url 'lab-papers-feed' %}"><img src="{{ STATIC_URL}}img/feed-icon-14x14.png" alt="feed-icon"></a>{% endif %}
{% if paper_list_type == "interesting" %}Interesting Papers <a href="{% url 'interesting-papers-feed' %}"><img src="{{ STATIC_URL}}img/feed-icon-14x14.png" alt="feed-icon"></a>{% endif %}</h1>
{% endblock %}
</div>

{% block content %}
<article>
<ol>
{% for paper in publication_list %}
<section class="container">
{% include "paper-detail-snippet.html" %}
</section>
{% endfor %}
</ol>
</article>
{% endblock %}
