{% extends "base.html" %}
{% block scripts %}
{% endblock %}

{% block title %}<title>{{ publication }}</title>{% endblock %}

{% block header %}
<h1>{{ publication }}</h1>
{% endblock %}

{% block sidebar-insertion %}
<h2>Share This Paper</h2>
{% include 'paper_sharing_widgets.html' %}
{% endblock %}

{% block content %}
<div id="authors" class="span-6">
<h2>Authors</h2>
{% for author in publication.authors.all %}
{% if forloop.revcounter = 1 %} and {% endif %} <a href='{{ author.author.get_absolute_url }}'>{{ author }}</a>{% if forloop.revcounter > 2 %}, {% endif %} 
{% endfor %}
</div>


<h2>Abstract</h2>
<p>{{ publication.abstract }}</p>
{% if publication.doi %}
<p><a href="{{ publication.doi_link }}">Link to Full Text of Paper</a></p>
{% endif %}

<div id="comments span-12">
<h2>Comments</h2>
{% include 'disqus_snippet.html' %}
</div>

<div id="metrics" class="container">
<h2>Metrics</h2>

{% if publication.doi %}
{% include 'altmetric_snippet.html' %}
{% endif %}
</div>


{% endblock %}
