{% extends "base.html" %}
{% block scripts %}
{% endblock %}

{% block title %}<title>{{ publication }}</title>{% endblock %}

{% block header %}
<h1>{{ publication }}</h1>
{% endblock %}

{% block content %}
<h2>Authors</h2>
{% for author in publication.authors.all %}
{% if forloop.revcounter = 1 %} and {% endif %} {{ author }}{% if forloop.revcounter > 1 %}, {% endif %} 
{% endfor %}
<h2>Abstract</h2>
<p>{{ publication.abstract }}</p>
{% if publication.doi %}
<p><a href="{{ publication.doi_link }}">Link to Full Text of Paper</a></p>
{% endif %}

<div id="comments span-12">
<h2>Comments</h2>
{% include 'disqus_snippet.html' %}
</div>

<h2>Metrics</h2>

{% if publication.doi %}
<script type='text/javascript'>
$.getJSON('http://api.altmetric.com/v1/doi/{{ publication.doi }}', function(data) {
	$('#altmetric-metrics').html("<li><strong>Tweets:</strong> "+data.cited_by_posts_count+"</li><li><strong>Readers:</strong> "+data.readers_count+"</li><li><strong>Score:</strong> "+data.score+" </li></ul>");
});
</script>

<div class="box span-3">
<h3>Altmetric.com</h3>
<ul id='altmetric-metrics'>
</ul>
Data provided by <a href='http://altmetric.com'>Altmetric.com</a>.
</div>
{% endif %}



{% endblock %}
