<div class="container" id="paper-share-widgets">
	<div class='altmetric-embed span-3' data-doi="{{ paper.doi }}"></div>
	<div class='span-3 append-bottom'><a href="https://twitter.com/share" class="twitter-share-button span-3" data-lang="en" data-url="{{ paper.doi_link }}" count-url="{{ paper.doi_link }}" data-via="{{ twitter }}" data-text="{{ paper.title }}">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>	
	<div class="fb-like span-3" data-href="{{ paper.doi_link }}" data-send="false" data-width="100" data-show-faces="true"></div>	
	<div class="g-plusone span-3" data-size="medium" data-annotation="inline" data-href="{{ paper.doi_link }}"></div>


	
