{% if postings %}
<aside class="panel panel-success">
<div class="panel-heading">
<h2 class="panel-title text-center">Positions Available</h2>
</div>
<div class="panel-body">
{% for posting in postings %}
<p class="info" itemscope itemtype="http://schema.org/JobPosting"><strong itemprop="title">{{ posting.title }}</strong>.
<span itemprop="description">{{ posting.description|safe }}</span><br>
{% if posting.hiringOrganization %}<meta itemprop="hiringOrganization" content="{{ posting.hiringOrganization }}"/><br>{% endif %}
{% if posting.education %}<strong>Education:</strong><br> <span itemprop="educationRequirements">{{ posting.education|safe }}</span><br>{% endif %}
{% if posting.qualifications %}<strong>Qualifications:</strong><br> <span itemprop="qualifications"></strong><br>{{ posting.qualifications|safe }}</span><br>{% endif %}
{% if posting.skills %}<strong>Required Skills:</strong><br> <span itemprop="skills">{{ posting.skills }}</span><br>{% endif %}
{% if posting.responsibilities %}<strong>Responsibilities:</strong><br> <span itemprop="responsibilities">{{ posting.responsibilities|safe }}</span>{% endif %}
To apply please go to <a href="{{ posting.link }}" itemprop="url">{{ posting.link }}</a>.<br>
Date Posted: <span itemprop="datePosted">{{ posting.created }}</span></p>
{% endfor %}
</div>
</aside>
{% endif %}
