{% if postings %}
<div class="col-md-12">
<aside class="panel panel-success">
<div class="panel-heading">
<h2 class="panel-title">Positions Available</h2>
</div>
<div class="panel-body">
{% for posting in postings %}
<p class="info" itemscope itemtype="http://schema.org/JobPosting"><strong itemprop="title">{{ posting.title }}</strong>.
<span itemprop="description">{{ posting.description }}</span><br>
{% if posting.hiringOrganization %}<meta itemprop="hiringOrganization" content="{{ posting.hiringOrganization }}"/>{% endif %}
{% if posting.education %}Required Education: <span itemprop="educationRequirements">{{ posting.education }}</span>{% endif %}
{% if posting.qualifications %}Qualifications: <span itemprop="qualifications">{{ posting.qualifications }}</span>{% endif %}
{% if posting.skills %}Required Skills: <span itemprop="skills">{{ posting.skills }}</span>{% endif %}
{% if posting.responsibilities %}Responsibilities: <span itemprop="responsibilities">{{ posting.responsibilities }}</span>{% endif %}
To apply please go to <a href="{{ posting.link }}" itemprop="url">{{ posting.link }}</a>.<br>
Date Posted: <span itemprop="datePosted">{{ posting.created }}</span></p>
{% endfor %}
</div>
</aside>
</div>
{% endif %}
