{% if postings %}
<aside class="panel panel-success">
<div class="panel-heading">
<h2 class="panel-title text-center">Positions Available</h2>
</div>
<div class="panel-body" itemscope itemtype="http://schema.org/JobPosting">
{% for posting in postings %}
<h3 class="info" itemprop="title">{{ posting.title }}</h3>
<dl>
<p itemprop="description">{{ posting.description|safe }}</p>
{% if posting.hiringOrganization %}
  <meta itemprop="hiringOrganization" content="{{ lab_name  }}, {{ posting.hiringOrganization }}" sameAs="http://bridgeslab.sph.umich.edu"/>
{% endif %}
{% if posting.education %}
  <dt>Education</dt>
  <dd itemprop="educationRequirements">{{ posting.education|safe }}</dd>
{% endif %}
{% if posting.qualifications %}
  <dt>Qualifications</dt>
  <dd itemprop="qualifications">{{ posting.qualifications|safe }}</dd>
{% endif %}
{% if posting.skills %}
  <dt>Required Skills</dt>
  <dd itemprop="skills">{{ posting.skills }}</dd>
{% endif %}
{% if posting.responsibilities %}
  <dt>Responsibilities</dt> 
  <dd itemprop="responsibilities">{{ posting.responsibilities|safe }}</dd>
{% endif %}
<p>To apply please go to <a href="{{ posting.link }}" itemprop="url">{{ posting.link }}</a>.</p>
<p>Date Posted: <span itemprop="datePosted">{{ posting.created }}</p>
<meta itemprop="validThrough" content="{{ posting.expiry|date:"c" }}" />
{% if posting.employment_type %}
<meta itemprop="employmentType" content="{{ posting.employment_type }}" />
{% endif %}
</dl>
{% endfor %}
 <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"> 
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <meta itemprop="streetAddress" content="{{ address.address.line_1}} {{ address.address.line_2}} {{ address.address.line_3}} {{ address.address.line_4}}" />
      <meta itemprop="addressLocality" content="{{ address.address.city }}" />
      <meta itemprop="addressRegion" content="{{ address.address.state }}" />
      <meta itemprop="addressCountry" content="{{ address.address.country }}" />
      <meta itemprop="postalCode" content="{{ address.address.code }}" />
    </span>
 </span>

</div>
</aside>
{% endif %}
