{% extends "base.html" %}
{% block scripts %}

{% endblock %}

{% block title %}<title>{% if personnel_type == 'alumni' %}Former {% endif %}Members of the Bridges Lab</title>{% endblock %}

{% block header %}
<h1 class="h1 text-center">{% if personnel_type == 'alumni' %}Former {% endif %}Members of the Bridges Lab</h1>
{% endblock %}

{% block content %}
<article itemscope itemtype="http://schema.org/Organization">

{% if personnel_type == 'current' %}
{% include "job_posting_snippet.html" %}
{% endif %}

{% for person in personnel %}
<div property="member" typeof="OrganizationRole">
<section div property="member" typeof="http://schema.org/Person" class="col-md-12">
{% include 'personnel_snippet.html' %}
</section>
</div>
{% endfor %}

{% if personnel_type == 'current' %}
<p>To see previous lab members see <a href="{% url 'laboratory-alumni' %}">lab alumni list</a>.</p>
{% endif %}

{% if personnel_type == 'alumni' %}
<p>To see current lab members see <a href="{% url 'laboratory-personnel' %}">lab members list</a>.</p>
{% endif %}

{% endblock %}

</article>
