{% extends "base.html" %}
{% block scripts %}
<script type ='text/javascript' src='{{ STATIC_URL}}javascript/md5.js'></script>
</script>
<script type='text/javascript' src='http://cdn.altmetric.com/embed.min.js'></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#show-text").click(function(){
        $(".previous-positions").show(speed="slow");
        $("#show-text").hide(speed="fast");
    });
});
</script>
{% endblock %}

{% block title %}<title>{{ person }}</title>{% endblock %}

{% block header %}
<h1 class="text-center">{{ person }}</h1>
{% endblock %}

{% block content %}
<article itemscope itemtype='http://schema.org/Person' class="row">
<meta itemprop='familyName' content='{{ person.last_name }}' />
<meta itemprop='givenName' content='{{ person.first_name }}' />
<meta itemprop='name' content='{{ person }}' />
<section id='bio' class='row'>
<div class='col-md-7' id='details'>
<dl class="dl-horizontal">
    {% if person.lab_roles.all %}
    <dt>Position</dt>
    {% for role in person.lab_roles.all %}
      {% if not role.end_date %}
      <dd>
      {{ role|safe }}.  ({{ role.start_date|timesince }}).  <em id="show-text">Show previous positions.</em><br/>
      </dd>
      {% endif %}

      {% if role.end_date %}
      <div class="previous-positions" style="display: none;">
      <dt>Previous Position</dt>
      <dd>
      {{ role|safe }}.  ({{ role.start_date|timesince }})<br/>
      </dd>
      </div>
      {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if person.degrees.all %}
    <dt>Degrees</dt>
    <dd>
    {% for degree in person.degrees.all %}
    {{ degree }}.  {% if degree.date_awarded %}Awarded in {{degree.date_awarded|date:"Y" }}.{% endif %}<br/>
    <span itemprop='alumniOf' itemscope itemtype='http://schema.org/EducationalOrganization'>
    <meta itemprop='name' content='{{ degree.organization.name }}'/>
    </span>
    {% endfor %}
    </dd>
    {% endif %}

        {% if person.email %}
	<dt>Email</dt>
	<dd><a itemprop='email' href='mailto:{{ person.email }}'>{{ person.email }}</a></dd>
	{% endif %}

        {% if person.phone %}
	<dt>Phone</dt>
	<dd><span itemprop='telephone'>{{ person.phone }}</span></dd>
	{% endif %}

        {% if person.orcid_id %}
        <dt>ORCID Identification Number</dt>
        <dd><a itemprop='sameAs' href='http://orcid.org/{{ person.orcid_id }}'>{{ person.orcid_id }}</a></dd>         
        {% endif %}

        {% if person.biography %}
        <dt>Bio</dt>
        <dd>{{ person.biography }}</dd>
        {% endif %}  

	{% if person.twitter_username %}
	<dt>Social Media</dt>
	<dd>
	<a href="https://twitter.com/{{ person.twitter_username }}" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">Follow @{{ person.twitter_username }}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% if person.google_plus_user_id %}    
    <!-- Place this tag where you want the badge to render. -->
<div class="g-plus" data-width="300" data-height="69" data-href="//plus.google.com/{{ person.google_plus_user_id}}" data-rel="author"></div>

<!-- Place this tag after the last badge tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endif %}    
	</dd>
	{% endif %}
</dl>
{% if person.image %}
</div>
<img id='image' src='{{ person.image.url }}' alt='Photo of {{ person }}' class='col-md-3 img-responsive'/>
{% endif %}
</section>

{% if person.authordetails_set.all.exists %}
<section id='papers' class='col-md-12'>
<div class='panel panel-default'>
<div class='panel-heading'>
<h2 class='panel-title'>Publications</h2>
</div>
<div class='panel-body'>
{% for detail in person.authordetails_set.all %}
{% for paper in detail.publication_set.all|dictsort:"year"  %}

<div class="row">
<div class="col-md-11">
{% include "paper-detail-snippet.html" %}
</div>
<div class="col-md-1">
{% include "altmetric_paper_snippet.html" %}
</div>
</div>
{% endfor %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
</section>
</article>
