{% load humanize %}

<section id="{{ funding.title_slug }}" class="panel panel-info">

<div id="{{ funding.title_slug}}-details" class="panel-heading">
<h3 class="panel-title"><a href="{{ funding.get_absolute_url }}">{{ funding }}</a></h3>
</div>
<div class="panel-body">
<div id="logo" class="col-md-2">
{% if funding.funding_agency.logo %}
<a href="{{ funding.funding_agency.website }}"><img class="img-responsive" src="{{ funding.funding_agency.logo.url }}" /></a>
{% endif %}
<dl>
   {% if funding.grant_id %}
   <dt>Grant ID</dt>
      <dd>{{ funding.grant_id }}</dd> 
   {% endif %}

   {% if funding.start_date %}
    <dt>Start Date<dt>
        <dd>{{ funding.start_date }}</dd>
   {% endif %}

   {% if funding.end_date %}
    <dt>End Date<dt>
        <dd>{{ funding.end_date }}</dd>
   {% endif %}

   {% if funding.amount %}
    <dt>Amount<dt>
        <dd>${{ funding.amount | intcomma }}</dd>
   {% endif %}

</dl>
</div>
<div class="summary col-md-10" id="{{funding}}-summary">
<p>{{funding.summary|safe}}</p>
</div>

</section>
