{% extends 'base.html' %}

{% block scripts %}
{% endblock scripts %}

{% block title %}
<title>Current Funding in the Lab</title>
{% endblock %}

{% block header %}
<h1>Current Funding in the Lab</h1>
{% endblock %}

{% block content %}
<article id="funding" class="container append-2 prepend-2 span-20">
{% for funding in funding_list %}
<section id="{{ funding.title_slug }}" class="append-2 prepend-2 span-20">
<h2>
<a class="large plain-link span-12" href="{{ funding.get_absolute_url }}">{{ funding }}</a>
<a class="large span-4" href="{{ funding.funding_agency.website }}"><img width="100 pt" src="{{ funding.funding_agency.logo.url }}" /></a>
</h2>
</section>
{% endfor %}
</article>
{% endblock content %}
