{% extends 'base.html' %}

{% block title %}
<title>{{ funding }}</title>
{% endblock %}

{% block header %}
<h1>{{ funding }}</h1>
{% endblock %}

{% block content %}
<article class="container append-2 prepend-2 span-20">

<section id="summary" class="span-20 container">

<div class="span-8" id="logo">
<a href="{{ funding.funding_agency.website }}">
<img src="{{ funding.funding_agency.logo.url }}"/>
</a>
</div>

<div class="span-10" id="details">

<h2>Details</h2>

   {% if funding.start_date %}
    <dt>Start Date<dt>
        <dd>{{ funding.start_date }}</dd>
   {% endif %}

   {% if funding.end_date %}
    <dt>End Date<dt>
        <dd>{{ funding.end_date }}</dd>
   {% endif %}

   {% if funding.amount %}
    <dt>Amount<dt>
        <dd>${{ funding.amount }}</dd>
   {% endif %}

<p>{{ funding.summary | safe}}</p>

</div>
</section>

{% if funding.full_text %}
<section id="full_text">
{{ funding.full_text | safe }}
</section>
{% endif %}
{% if funding.publications.all.count > 0 %}
<section id="publications" class="span-20">
<h2>Publications</h2>
<section class="span-20 border first">
<h3>Which publications were supported by this award?</h3>
{% for paper in funding.publications.all %}
{% include "paper-detail-snippet.html" %}
{% endfor %}
</section>
{% endif %}

<section id="comments class="span-20">
<h2>Comments</h2>
{% include 'disqus_snippet.html' %}
</section>
</article>
{% endblock content %}
