

<section id="{{ funding.title_slug }}" class="panel panel-info">

<div id="{{ funding.title_slug}}-details" class="panel-heading">
<h3 class="panel-title"><a href="{{ funding.get_absolute_url }}">{{ funding }}</a></h3>
</div>
<div class="panel-body">
<div id="logo" class="col-md-4">
<a href="{{ funding.funding_agency.website }}"><img width=200px src="{{ funding.funding_agency.logo.url }}" /></a>
</div>

<dl class="col-md-6">
   {% if funding.start_date %}
    <dt>Start Date<dt>
        <dd>{{ funding.start_date }}</dd>
   {% endif %}

   {% if funding.end_date %}
    <dt>End Date<dt>
        <dd>{{ funding.end_date }}</dd>
   {% endif %}

   {% if funding.amount %}
    <dt>Amount<dt>
        <dd>${{ funding.amount }}</dd>
   {% endif %}

</dl>
</div>
</section>
