{% extends 'base.html' %}

{% block scripts %}
<link rel="alternate" type="application/rss+xml" title="Projects we are working on" href="{% url 'projects-feed' %}">
{% endblock scripts %}

{% block title %}
<title>Current Projects in the Lab</title>
{% endblock %}

{% block header %}
<h1>Current Projects in the Lab</h1>
{% endblock %}

{% block content %}
<article id="projects" class="container append-2 prepend-2 span-20">
{% for project in project_list %}
<section id="{{ project.title_slug }}" class="append-2 prepend-2 span-16">
<h2>
<a class="large plain-link" href="{{ project.get_absolute_url }}">{{ project }}</a>
</h2>
<p>{{ project.summary |safe}}</p>
</section>
{% endfor %}
</article>
{% endblock content %}
