{% extends 'base.html' %}

{% block scripts %}
<link rel="alternate" type="application/rss+xml" title="Projects we are working on" href="{% url 'projects-feed' %}">
{% endblock scripts %}

{% block title %}
<title>Current Projects in the Lab</title>
{% endblock %}

{% block header %}
<h1 class="text-center text-um-blue display-4">Current Projects in the Lab</h1>
{% endblock %}


{% block content %}
  <article id="projects" class="container row">
      {% for project in project_list %}
      <section id="{{ project.title_slug }}" class="col-md-6 col-xs-12 text-um-blue">
        <h2 class='text-center display-6 text-um-blue bg-um-maize'>
          <a href="{{ project.get_absolute_url }}" class='text-decoration-none text-dark'>{{ project }}</a>
        </h2>
       <p>{{ project.summary_intro | first |safe}}</p>
      </section>
       {% endfor %}
  </article>
{% endblock content %}
