<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8" />

<meta property="fb:app_id" content="{{ fb_app_id }}" />
<meta property="fb:admins" content="{{ fb_admins }}" />

<link rel="stylesheet" href="{{STATIC_URL}}css/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{STATIC_URL}}css/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="{{STATIC_URL}}css/custom.css" type="text/css" media="screen"> 
<!-- This is for linking a google plus profile to this website --!>
<link href="https://plus.google.com/{{google_plus}}" rel="publisher" />
{% include "twitter_anywhere_script.html" %}
{% include "jquery_script.html" %}

{% block scripts %}
{% endblock %}

{% block title %}<title>Generic Page Title</title>{% endblock %}
</head>

<body class="container">
<!-- This script is for rendering the Facebook Button -->
<div id="fb-root"></div>
<script type="text/javascript" src="{{STATIC_URL}}javascript/facebook_sdk.js"></script>
<header class="span-24">
{% block navbar %}
<div class="span-24 container" id="navbar">
<nav>
<ul id="navbar">
<li class="span-4 colborder first"><a href="{% url 'laboratory-personnel' %} ">People</a></li>
<li class="span-4 colborder"><a href="{% url 'project-list' %}">Projects</a></li>
<li class="span-4 colborder"><a href="{% url 'laboratory-papers' %}">Papers</a></li>
<li class="span-4 colborder"><a href="/research">Location</a></li>
<li class="span-4 last"><a href="/communication">Contact</a></li>
</ul>
<hr/>
{% block sidebar-insertion %}
{% endblock %}

{% block header %}

{% endblock %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

</header>


</nav>
</div>
{% endblock %}


<div id="content" class="span-14">
{% block content %}
{% endblock %}
</div>

<hr />
<footer class="span-24 container">
<div class="span-5" id="google-plus">
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone href="{{request.get_full_path}}" size="tall" annotation="bubble"></g:plusone>
</div>
<div class="span-4" id="twitter">
<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="{{twitter}}" data-url="{{request.get_full_path}}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div class="span-4" id="facebook-like">
<div class="fb-like" data-href="{{request.get_host}}" data-send="false" data-width="450" data-show-faces="true" data-font="lucida grande" data-layout="box_count"></div>
</div>
<div class="span-4" id="linkedin-like">
<script type="text/javascript" src="http://platform.linkedin.com/in.js"></script><script type="in/share" data-counter="top"></script>
</div>
<div class="span-4 last">
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
</div>
{% block footer %}
{% endblock %}
</footer>

</body>

</html>