<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8" />

<link rel="stylesheet" href="{{STATIC_URL}}css/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{STATIC_URL}}css/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="{{STATIC_URL}}css/custom.css" type="text/css" media="screen"> 
<!-- This script is for rendering the follow on Google Plus Button -->
<script type="text/javascript">
	window.___gcfg = {lang: 'en'};
	(function() 
	{var po = document.createElement("script");
	po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(po, s);
	})();
</script>
{% include "twitter_anywhere_script.html" %}
{% include "jquery_script.html" %}

{% block scripts %}
{% endblock %}

{% block title %}<title>Generic Page Title</title>{% endblock %}
</head>

<body class="container">
<!-- This script is for rendering the Facebook Button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<header class="span-24">
{% block header %}
Header Information
{% endblock %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

</header>

<div class="span-8">
<nav>
<ul id="navbar">
<li><a href="/personnel">Who Are We?</a></li>
<li><a href="/research">What Do We Do?</a></li>
<li><a href="/research">Where Can you Find Us?</a></li>
<li><a href="/communication">What are We Talking About?</a></li>
</ul>
<div id="follow-buttons">
<h2>Follow Us:</h2>
<div class="fb-like-box" data-href="http://www.facebook.com/{{facebook}}" data-width="300" data-show-faces="true" data-stream="false" data-header="false" data-border-color="gainsboro"></div>
<div class="g-plus" data-href="https://plus.google.com/{{google_plus}}?rel=author" data-width="300" data-height="69"></div>
<div class="twitter">
<a href="https://twitter.com/{{twitter}}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{twitter}}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>
</nav>
</div>



<div id="content" class="span-14">
{% block content %}
{% endblock %}
</div>


<footer class="span-24">
<div class="span-3" id="google-plus">
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone href="{{request.get_full_path}}" size="tall" annotation="bubble"></g:plusone>
</div>
<div class="span-3" id="twitter">
<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="{{twitter}}" data-url="{{request.get_full_path}}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div class="span-3" id="facebook-like">
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="{{request.get_full_path}}" layout="box_count" show_faces="true" width="450" font="lucida grande"></fb:like>
</div>
<div class="span-3" id="linkedin-like">
<script type="text/javascript" src="http://platform.linkedin.com/in.js"></script><script type="in/share" data-counter="top"></script>
</div>
<div class="span-3">
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
</div>
{% block footer %}
{% endblock %}
</footer>

</body>

</html>