{% extends 'base.html' %}

{% block title %}
<title>Bridges Lab Homepage</title>
{% endblock title %}

{% block content %}
<article class="span-24 container">
<h1>Welcome to the {{ lab_name }}</h1> 
<section id='general-info' class='span-12 first prepend-2 container'>
<img class='span-12' src='{{ general_data.cover.source }}' alt='Lab Photo'>
<p class='span-12' style='font-size:large;'>{{ general_data.about }}</p> 
</section>

<section class='span-8 last append-2'>
<h2>Find Out More About Us:</h2>
<ul>
<li><a class="large" href="{% url 'laboratory-personnel' %}">The members of our group.</a></li>
<li><a class="large" href="{% url 'project-list' %}">The projects we are working on.</a></li>
<li><a class="large" href="{% url 'laboratory-papers' %}">Papers we have published.</a></li>
<li><a class="large" href="{% url 'location' %}">Where we are located.</a></li>
<li><a class="large" href="{% url 'contact-info' %}">How to get a hold of us.</a></li>
</li>
</section>

</article>
{% endblock content %}


</body>

</html>
