<!DOCTYPE html>
<html lang="en-us" prefix="op: http://media.facebook.com/op#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<meta property="fb:app_id" content="{{ fb_app_id }}" />
<meta property="fb:admins" content="{{ fb_admins }}" />
<link rel="publisher" href="https://plus.google.com/{{ google_plus }}">

{% block scripts %}
{% endblock %}

{% block title %}<title>Generic Page Title</title>{% endblock %}
</head>

<body class="container" itemscope itemtype="http://schema.org/WebPage">
{% include "facebook_api_sdk_script.html" %}
<span itemprop = "about" itemscope itemtype="http://schema.org/Organization">
<meta itemprop = "url"  content="http://bridgeslab.sph.umich.edu"/>
<meta itemprop = "name" content="{{ lab_name  }}"/>
</span>
<header>

{% block navbar %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Bridges Lab</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'laboratory-personnel' %}">Our Team</a></li>
        <li><a href="{% url 'project-list' %}">Projects</a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'laboratory-papers' %}">Papers</a></li>
            <li><a href="/protocols">Protocols</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'funding-list' %}">Funding</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'post-list' %}">Posts</a></li>
            <li><a href="{% url 'commentary-list'%}">Journal Club</a></li>
          <li><a href="{% url 'contact-info' %}">Contact Us</a></li>
          </ul>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<hr/>
{% block sidebar-insertion %}
{% endblock %}

{% block header %}

{% endblock %}

{% if messages %}
<div class="messages col-md-12">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

</header>

{% endblock %}


<div id="content">
{% block content %}
{% endblock %}
</div>
<footer>
{% block footer %}
{% endblock %}

</footer>
{% include 'analytics_tracking.html'%}

</body>

</html>
