<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    // Canonical URL of the current post
    this.page.url = "{{ post.id|escapejs }}";

    // Unique identifier for the post (can be slug, ID, or URL)
    this.page.identifier = "{{ post.get_absolute_url|escapejs }}";
  };

  (function() {
    var d = document, s = d.createElement('script');

    // Replace 'YOUR_SHORTNAME' with your actual Disqus shortname
    s.src = 'https://{{ disqus_forum }}.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<noscript>
  Please enable JavaScript to view the 
  <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus</a>.
</noscript>
