{% extends 'base.html' %}

{% block scripts %}
<meta name="description" content="{{ general_data.about }}">
{% endblock scripts %}

{% block title %}
<title>Bridges Lab Homepage</title>
{% endblock title %}

{% block content %}
<article itemscope itemtype="http://schema.org/Organization">
<h1 class='text-center'>Welcome to the <span itemprop="name">{{ lab_name }}</span></h1> 
<section id='general-info' class='col-md-4'>
<img src='{{ general_data.cover.source }}' alt='Lab Photo' itemprop="image" width=250px>
</section>

<section class='col-md-8'>
<h2>Find Out More About Us:</h2>
<ul id="home-links" style="list-style-type:none;">
<li><a class="large" href="{% url 'laboratory-personnel' %}" itemprop="members"><img src="{{ STATIC_URL }}img/icons/user.png" alt="People"> The members of our group.</a></li>
<li><a class="large" href="{% url 'project-list' %}"><img src="{{ STATIC_URL }}img/icons/paste.png" alt="Projects"> The projects we are working on.</a></li>
<li><a class="large" href="{% url 'laboratory-papers' %}"><img src="{{ STATIC_URL }}img/icons/file.png" alt="Papers"> Papers we have published.</a></li>
<li><a class="large" href="{% url 'location' %}"><img src="{{ STATIC_URL }}img/icons/world.png" alt="Location"> Where we are located.</a></li>
<li><a class="large" href="{% url 'contact-info' %}"><img src="{{ STATIC_URL }}img/icons/email.png" alt="Contact"> How to contact us.</a></li>
</ul>
</section>

<p class='col-md-12' itemprop="description">{{ general_data.description }}</p>

<aside class="col-md-12">
{% include "job_posting_snippet.html" %}
</aside>

<section class='col-md-12' id="recent-activity">

<section id='recent-papers'>
<h2 class='text-center'><a href="{% url 'laboratory-papers' %}" class='plain-link col-md-12'>Recent Publications</a></h2>

{% for paper in recent_papers %}
{% include "paper-detail-snippet.html" %}
{% endfor %}
</section>

<div class='row'>
<section id='recent-comments' class='col-md-6'>
<h2 class='text-center'><a href="{% url 'post-list' %}">Recent Posts</a></h2>
<ul>
{% for post in recent_posts %}
<li><a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
{% endfor %}
</ul>
</section>

<section id='recent-journal-clubs' class='col-md-6'>
<h2 class='text-center'><a href="{% url 'commentary-list' %}">Recent Journal Clubs</a></h2>

{% for commentary in recent_comments %}
{% with commentary.paper as paper %}
{% include "paper-detail-snippet.html" %}
{% endwith %}
{% endfor %}

</section>
</div>
</section>
</section>




{% endblock content %}

</article>
</body>

</html>
