{% extends 'base.html' %}

{% block scripts %}
<meta name="description" content="{{ general_data.about }}">
{% endblock scripts %}

{% block title %}
<title>Bridges Lab Homepage</title>
{% endblock title %}

{% block content %}
<article itemscope itemtype="http://schema.org/Organization">
<h1 class='text-center'>Welcome to the <span itemprop="name">{{ lab_name }}</span></h1> 

<p class='col-md-12 well' itemprop="description">{{ general_data.description }}</p>
<section id='general-info' class='col-md-12'>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Find Out More About Us:</h3>
    </div>
      <div class="panel-body">
      <ul id="home-links">
        <li><a class="text-center" href="{% url 'laboratory-personnel' %}" itemprop="members"><img src="{{ STATIC_URL }}img/icons/user.png" alt="People"> The members of our group.</a></li>
        <li><a class="text-center" href="{% url 'project-list' %}"><img src="{{ STATIC_URL }}img/icons/paste.png" alt="Projects"> The projects we are working on.</a></li>
        <li><a class="text-center" href="{% url 'laboratory-papers' %}"><img src="{{ STATIC_URL }}img/icons/file.png" alt="Papers"> Papers we have published.</a></li>
        <li><a class="text-center" href="{% url 'location' %}"><img src="{{ STATIC_URL }}img/icons/world.png" alt="Location"> Where we are located.</a></li>
        <li><a class="text-center" href="{% url 'contact-info' %}"><img src="{{ STATIC_URL }}img/icons/email.png" alt="Contact"> How to contact us.</a></li>
       </ul>
     </div>
  </div>
<!-- <img src='{{ general_data.cover.source }}' alt='Lab Photo' itemprop="image" size="200px" class="col-md-3"/> -->
  </div>
</section>

<aside class="col-md-12">
{% include "job_posting_snippet.html" %}
</aside>

<section id='recent-papers' class='panel panel-default'>

<div class="panel-heading">
<h2 class='text-center panel-title'><a href="{% url 'laboratory-papers' %}">Recent Publications</a></h2>
</div>

<div class="panel-body">
{% for paper in recent_papers %}
{% include "paper-detail-snippet.html" %}
{% endfor %}
</div>
</section>

<div class="row col-md-12">
<div class="col-md-6">
<section id='recent-comments' class='panel panel-default'>
    <div class="panel-heading">
<h2 class='text-center panel-title'><a href="{% url 'post-list' %}">Recent Posts</a></h2>
</div>
<div class='panel-body'>
<ul>
{% for post in recent_posts %}
<li><a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
{% endfor %}
</ul>
</div>
</section>
</div>

<div class="col-md-6">
<section id='recent-journal-clubs' class='panel panel-default'>
    <div class="panel-heading">
<h2 class='text-center panel-title'><a href="{% url 'commentary-list' %}">Recent Journal Clubs</a></h2>
</div>
<div class='panel-body'>
{% for commentary in recent_comments %}
{% with commentary.paper as paper %}
{% include "paper-detail-snippet.html" %}
{% endwith %}
{% endfor %}
</div>
</section>
</div>




{% endblock content %}

</article>
</body>

</html>
