{% extends 'base.html' %}

{% block title %}
<title>Bridges Lab Homepage</title>
<meta name="description" content="{{ general_data.about }}">
{% endblock title %}

{% block content %}
<article itemscope itemtype="http://schema.org/Organization">

<h1 class='text-center'>Welcome to the <span itemprop="name">{{ lab_name }}</span></h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3"><img src="{{ general_data.picture.data.url }}" class="img-fluid" alt="{{ lab_name }} Photo"></div>
    <div class="col-sm-6"><p>{{ general_data.description }}</p></div>
    <div class="col-sm-3">      <p>Find Out More About Us:</p>
      <ul id="home-links">
        <li><a class="text-center" href="{% url 'laboratory-personnel' %}"><img src="{{ STATIC_URL }}img/icons/user.png" alt="People"> The members of our group.</a></li>
        <li><a class="text-center" href="{% url 'project-list' %}"><img src="{{ STATIC_URL }}img/icons/paste.png" alt="Projects"> The projects we are working on.</a></li>
        <li><a class="text-center" href="{% url 'laboratory-papers' %}"><img src="{{ STATIC_URL }}img/icons/file.png" alt="Papers"> Papers we have published.</a></li>
        <li><a class="text-center" href="{% url 'location' %}"><img src="{{ STATIC_URL }}img/icons/world.png" alt="Location"> Where we are located.</a></li>
        <li><a class="text-center" href="{% url 'contact-info' %}"><img src="{{ STATIC_URL }}img/icons/email.png" alt="Contact"> How to contact us.</a></li>
       </ul>
    </div>
  </div>
</div>

{% include "job_posting_snippet.html" %}

<section id='recent-papers' class='container-xl'>
  <div class="card">
  <div class="card-header">
    <h2 class='text-center card-title text-decoration-none text-dark'><a href="{% url 'laboratory-papers' %}">Recent Publications</a></h2>
  </div>
<div class="card-body">
  {% for paper in recent_papers %}
  {% include "paper-detail-snippet.html" %}
  {% endfor %}
<p class="card-text mt-4">Click <a href="{% url 'laboratory-papers' %}">here</a> for a full list of papers.</p>
</div>
</div>
</section>

<div class="container-md"></div>
<section id='posts'>
  <div class="card">
    <div class="card-header">
      <h2 class='text-center'><a href="{% url 'post-list' %}" class="card-title text-decoration-none text-dark">Blog Posts</a></h2>
    </div>
  <div class=""card-body>
    <ul>
    {% for post in recent_posts %}
    <li><a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
</section>

<section id='comments'>
  <div class="card">
    <div class="card-header">
      <h2 class='text-center'><a href="{% url 'commentary-list' %}" class="text-decoration-none text-dark">Comments on Papers</a></h2>
     </div>
  <div class="card-body">
     <ul>
     {% for commentary in recent_comments %}
     <li><a href="{{ commentary.get_absolute_url }}">{{ commentary.paper.title }}</a></li>
     {% endfor %}
     </ul>
  </div>
  </div>
  </section>
</div>


<div class="col-md">
<h2 class='text-center'><a href="{% url 'commentary-list' %}" class="text-decoration-none text-dark">Journal Club Discussions</a></h2>
<div>
{% include "journal-club-paper-snippet.html" %}
</div>
</div>
</div>
</div>

</article>
{% endblock content %}
